.table-header {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Noto Sans TC', sans-serif;

}

.table-body {
  font-size: 16px;
  font-weight: 100;
  font-family: 'Noto Sans TC', sans-serif;
}

.display-button {
  background: black;
  font-family: 'Noto Sans TC', sans-serif;
  background: black;
  border-radius: 3px;
  border: 2px solid #2A5BFE;
  color: white;
  padding: 0.25em 1em;
  font-size: 18px;
  width: 167px;
  height: 40px;
  font-weight: 200;
  /* margin-left: 36% */

}
